* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
    background-color: cyan;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*  1. flex-direction == row => main is row and cross is column
/*  2. flex-direction == row => main is column and cross is row
/*  3. justify-content = main  */ 
/*  4. align-items = cross  */ 
/*  5. align-content = rows or column */
/*  5. align-items = items */

.item1 {
    width: 200px;
    height: 200px;
    background-color: violet;
}

.item2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.item3 {
    width: 200px;
    height: 200px;
    background-color: red;
}

.item4 {
    width: 200px;
    height: 200px;
    background-color: green;
}