* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
    background-color: cyan;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*  1. flex-direction == row => main is row and cross is column
/*  2. flex-direction == column => main is column and cross is row

/*  3. justify-items, justify-content = main  */ 
/*  4. align-items, content = cross  */ 

/*  5. align-content = rows or column */
/*  6. align-items = items */

/*  7. justify-content = rows or column */
/*  8. justify-items = items */

/*  9. order => above to last */

/*  10. flex-grow => weight to fill maxiumm */
/*  11. flex-shrink => weight to fill minumm */

/*  12. flex-basis => like that min-width */

/*  13. flex => flex-grow flex-shrink flex-basis => 0 1 auto*/

.item1 {
    width: 200px;
    height: 200px;
    background-color: violet;
    order: 1;
    flex: 1 1 auto;
}

.item2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    order: 2;
    flex: 3 5 auto;
}

.item3 {
    width: 200px;
    height: 200px;
    background-color: red;
    order: 1;
    flex: 0 1 auto;
}

.item4 {
    width: 200px;
    height: 200px;
    background-color: green;
    order: 4;
    flex: 0 1 auto;
}