.base {
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-origin: content-box;
    background-clip: padding-box;
    border: 10px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    margin-top: 16px;
    border-radius: 10px;
}

.class1 {
    background: linear-gradient(#d63031, #0984e3, #fdcb6e, #00b894);
}

.class2 {
    background: linear-gradient(to left, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class3 {
    background: linear-gradient(to top, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class4 {
    background: linear-gradient(to right, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class5 {
    background: linear-gradient(to bottom, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class6 {
    background: linear-gradient(200deg, #d63031, #0984e3 70%, #fdcb6e, #00b894);
}

.class7 {
    background: radial-gradient(red, blue, yellow, green)
}