.base {
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-origin: content-box;
    background-clip: padding-box;
    border: 10px solid #000000cc;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    margin-top: 16px;
    border-radius: 10px;
}

/* linear-gradient */
.class1 {
    background: linear-gradient(#d63031, #0984e3, #fdcb6e, #00b894);
}

.class2 {
    background: linear-gradient(to left, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class3 {
    background: linear-gradient(to top, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class4 {
    background: linear-gradient(to right, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class5 {
    background: linear-gradient(to bottom, #d63031, #0984e3, #fdcb6e, #00b894);
}

.class6 {
    background: linear-gradient(200deg, #d63031, #0984e3 70%, #fdcb6e, #00b894);
}

/* radial-gradient */
.class11 {
    background: radial-gradient(red, blue, yellow, green)
}

.class12 {
    background: radial-gradient(circle at center, red, blue, yellow, green)
}

.class13 {
    background: radial-gradient(closest-side, red, blue, yellow, green)
}

.class14 {
    background: radial-gradient(ellipse at top, red, blue, yellow, green)
}

.class15 {
    background: radial-gradient(ellipse at bottom, red, blue, yellow, green)
}

.class16 {
    background: radial-gradient(ellipse at left, red, blue, yellow, green)
}

.class17 {
    background: radial-gradient(ellipse at right, red, blue, yellow, green)
}

/* background */
.class21 {
    background:
        linear-gradient(160deg, #00000055, #ffffff99),
        linear-gradient(160deg, #d6303199, #0984e377),
        url("https://arashaltafi.ir/arash.jpg"), fixed;
}

.class22 {
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: scroll;
    filter: blur(2px);
}

.class22:hover {
    filter: blur(0px);
}

.class23 {
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: scroll;
    filter: brightness(200%)
}

.class23:hover {
    filter: brightness(100%);
}

.class24 {
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: scroll;
    filter: contrast(200%)
}

.class24:hover {
    filter: contrast(100%);
}

.class25 {
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: scroll;
    filter: opacity(0.8)
}

.class25:hover {
    filter: opacity(1.0);
}

.class26 {
    width: 80%;
    margin-top: 46px;
    margin-bottom: 46px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: scroll;
    filter: drop-shadow(5px 10px 10px red)
}

.class26:hover {
    filter: drop-shadow(0px 0px 0px);
}

.class27 {
    width: 90%;
    margin-top: 46px;
    margin-bottom: 46px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: scroll;
    filter: opacity(0.8) contrast(150%) brightness(150%) blur(2px) drop-shadow(5px 10px 10px blue)
}

.class27:hover {
    filter: opacity(1.0) contrast(100%) brightness(100%) blur(0px) drop-shadow(0px 0px 0px);
}