/* #p1 {
    color: red;
} */

.class1#p1 {
    color: red;
    background-color: aquamarine;
}

.class2 {
    background-color: cyan;
    color: red;
    font-size: 1.5rem;
}

.class3 {
    color: blue;
}

.class2.class3 {
    font-weight: bold;
    font-size: 28px;
    color: yellow;
}