html {
    font-size: 100%;
    font-family: "custom-font-medium", serif;
}

body {
    padding-top: 2rem;
}

div {
    background-color: cadetblue;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: white;
    text-align: center;
    border-radius: 6px;
}

header,
footer,
section,
aside {
    margin-left: 50px;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.fab-fixed {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: red;
    border: 5px dashed blue;
    margin: 1rem;
}

.fab-absolute {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: red;
    border: 5px dashed blue;
    margin: 1rem;
}

.fab-relative {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    top: 50px;
    right: 20px;
    background-color: red;
    border: 5px dashed blue;
    margin: 1rem;
}

.fab-sticky {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: sticky;
    top: 50px;
    right: 20px;
    background-color: red;
    border: 5px dashed blue;
    margin: 1rem;
}

/*
    Absolute : موقعیت ثابت به نسبت عنصر پدرش
    Fixed : موقعیت فیکس در صفحه در همه حال
    Relative : موقعیت نسبی نسبت به محل اولیه عنصر
    Sticky : موقعیت چسبیده
*/