html {
    font-size: 100%;
    font-family: "custom-font-medium", serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.form {
    margin-top: 2rem;
}

.form .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
    margin-bottom: 1rem;
}

.form label,
.form input:not([type="checkbox"]) {
    display: block;
    margin-bottom: 0.8rem;
    font-family: inherit;
}

.form label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #00000088;
    border-radius: 8px;
}

.form-control::placeholder {
    font-size: 1rem;
    color: #2196f3;
}

.form-control:focus {
    color: green;
    outline: none;
    background-color: #ddf0ff;
    border: 1px dashed #fd7d6c !important;
}

.checkbox input {
    display: none;
}

.checkbox {
    margin-top: 2rem;
    position: relative;
    padding-top: 0.5rem;
    padding-right: 2.2rem;
}

.checkbox .check-mark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 6px;
}

.checkbox:hover .check-mark {
    background-color: #ccc;
}

.checkbox input:checked~.check-mark {
    background-color: #2196f3;
}

.check-mark::after {
    content: "";
    position: absolute;
    display: none;
    width: 5px;
    height: 10px;
    border: solid white;
    top: 5px;
    right: 7px;
    border-width: 0 4px 4px 0;
    transform: rotate(40deg);
}

.checkbox input:checked~.check-mark::after {
    display: block;
}

.form-control:invalid {
    background-color: #fcb9b9;
    border: 1px solid #ff5555 !important;
}

.btn {
    margin-top: 4rem;
    border: none;
    font-family: inherit;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 4px;
    color: white;
}

.btn-login {
    max-width: 80%;
    min-width: 40%;
    max-height: 30%;
    min-height: 50px;
    background-color: crimson;
    border: 1px solid rgb(131, 2, 28);
    filter: drop-shadow(2px 1px 3px crimson)
}

.btn-login:hover {
    background-color: rgb(131, 2, 28);
}

.btn-register {
    max-width: 80%;
    min-width: 40%;
    max-height: 30%;
    min-height: 50px;
    background-color: green;
    border: 1px solid rgb(0, 90, 0);
    filter: drop-shadow(2px 1px 3px green)
}

.btn-register:hover {
    background-color: rgb(0, 90, 0);
}

@media screen and (max-width: 2560px) {
    body {
        background-color: #fafafa;
    }
}

@media screen and (max-width: 1920px) {
    body {
        background-color: green;
    }
}

@media screen and (max-width: 1080px) {
    body {
        background-color: yellow;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: pink;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: blue;
    }
}