* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p {
    font-size: 1.5rem;
    color: white;
    font-family: vazir;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class1 {
    width: 90vw;
    background-color: red;
}

.class2 {
    width: 100vw;
    background-color: blue;
}

.class3 {
    width: 80vw;
    background-color: green;
}

.class4 {
    width: 90vw;
    background-color: purple;
}