/* <a href> */
a[href] {
    color: yellow;
}

/* <a href="….com…"> */
a[href*=".com"] {
    color: cadetblue;
}

/* <a href="…com"> */
a[href$="com"] {
    color: chocolate;
}

/* <a href="https://facebook.com"> */
a[href="https://facebook.com"] {
    color: red;
}

h1[class="class1"] {
    color: teal;
}