div {
    margin-top: 46px;
    color: white;
    font-size: 32px;
    font-style: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class1 {
    width: 100%;
    height: 400px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    /* FITXY */
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.class2 {
    width: 100%;
    height: 400px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-position: center center;
    background-size: cover;
    /* center crop */
    background-repeat: no-repeat;
    font-family: monospace;
}

.class3 {
    width: 100%;
    height: 400px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-position: center center;
    background-size: contain;
    /* center */
    background-repeat: no-repeat;
    font-family: sans-serif;
}