@font-face {
    font-family: "custom-font-bold";
    src: url(/fonts/font_bold.ttf);
}

@font-face {
    font-family: "custom-font-light";
    src: url(/fonts/font_light.ttf);
}

@font-face {
    font-family: "custom-font-medium";
    src: url(/fonts/font_medium.ttf);
}

@font-face {
    font-family: "custom-font-normal";
    src: url(/fonts/font_normal.ttf);
}

div {
    margin-top: 46px;
    color: white;
    font-size: 32px;
    font-style: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class1 {
    width: 100%;
    height: 400px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-position: center center;
    background-size: 100% 100%;
    /* FITXY */
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.class2 {
    width: 100%;
    height: 400px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-position: center center;
    background-size: cover;
    /* center crop */
    background-repeat: no-repeat;
    font-family: monospace;
}

.class3 {
    width: 100%;
    height: 400px;
    background-image: url("https://arashaltafi.ir/arash.jpg");
    background-position: center center;
    background-size: contain;
    /* center */
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.h1 {
    font-family: "custom-font-bold", Yekan, Nazanin, Vazirmatn, sans-serif;
    font-size: 24px;
    text-decoration: line-through double red;
    /* font: 24px "custom-font-bold" bold italic; */
}

.h2 {
    font-family: "custom-font-bold", Yekan, Nazanin, Vazirmatn, sans-serif;
    font-size: 24px;
    text-decoration: underline solid yellow;
    /* font: 24px "custom-font-bold" bold italic; */
}

.h3 {
    font-family: "custom-font-bold", Yekan, Nazanin, Vazirmatn, sans-serif;
    font-size: 24px;
    text-decoration: overline dashed green;
    /* font: 24px "custom-font-bold" bold italic; */
}

.h4 {
    font-family: "custom-font-bold", Yekan, Nazanin, Vazirmatn, sans-serif;
    font-size: 24px;
    text-decoration: line-through dotted blue
    /* font: 24px "custom-font-bold" bold italic; */
}

p {
    font: 18px "custom-font-light";
    line-height: 1.8;
    text-shadow: 1px 2px 10px red;
    text-align: justify;
    word-spacing: 5px;
}