* {
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    font-family: sans-serif serif;
}

.container {
    display: grid;
    grid-template-rows: 80vh repeat(5, max-content);
    grid-template-columns: repeat(6, 1fr);
}