@font-face {
    font-family: "vazir-bold";
    src: url(/fonts/font_bold.ttf);
}

@font-face {
    font-family: "vazir-light";
    src: url(/fonts/font_light.ttf);
}

@font-face {
    font-family: "vazir-medium";
    src: url(/fonts/font_medium.ttf);
}

@font-face {
    font-family: "vazir-normal";
    src: url(/fonts/font_normal.ttf);
}

html {
    direction: ltr;
}

* {
    --white: white;
    --paddingLarge: 2rem;
    --paddingMedium: 1rem;
    --paddingSmall: 0.5rem;
    color: var(--white);
    font-family: "vazir-medium" serif sans-serif Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    box-sizing: border-box;
}
