@font-face {
    font-family: "shabnamR";
    src: url("/todo/assets/fonts/font_normal.ttf") format("truetype");
}

@font-face {
    font-family: "shabnamL";
    src: url("/todo/assets/fonts/font_light.ttf") format("truetype");
}

@font-face {
    font-family: "shabnamM";
    src: url("/todo/assets/fonts/font_medium.ttf") format("truetype");
}

@font-face {
    font-family: "shabnamB";
    src: url("/todo/assets/fonts/font_bold.ttf") format("truetype");
}

@font-face {
    font-family: "shabnamLatin";
    src: url("/todo/assets/fonts/font_normal_latin_digits.ttf") format("truetype");
}