$redColor : red;
$blueColor: blue;
$whiteColor: white;
$blackColor: black;
$royalBlueColor: royalBlue;
$orangeColor: orange;
$fontLarge: 4rem;
$fontMedium: 2rem;
$fontSmall: 1rem;

@mixin headerStyle {
    color: $redColor;
    text-align: center;
}

body {
    background-color: $whiteColor;
}

p {
    $black: black;
    color: $black;
    font-size: $fontSmall;
}

.nav {
    background-color: $orangeColor;
    padding: 5px 10px;

    ul li {
        color: $redColor;

        a {
            color: $royalBlueColor;
            text-decoration: none;
            &:hover {
                color: $blueColor;
                font-size: $fontSmall;
            }
        }
    }
}

.banner h1 {
    @include headerStyle();
    font-size: $fontMedium;
}

.footer h3 {
    @include headerStyle();
    color: $blueColor;
    font-size: $fontSmall;
}