$redColor : red;
$blueColor: blue;
$whiteColor: white;
$blackColor: black;
$royalBlueColor: royalBlue;
$orangeColor: orange;
$fontLarge: 4rem;
$fontMedium: 2rem;
$fontSmall: 1rem;

@mixin headerStyle($fontSize: $fontMedium) {
    color: $redColor;
    text-align: center;
    font-size: $fontSize;
}

@mixin transition($params...) {
    transition: $params;
}

body {
    background-color: $whiteColor;
}

p {
    $black: black;
    color: $black;
    font-size: $fontSmall;
}

.nav {
    background-color: $orangeColor;
    padding: 5px 10px;

    ul li {
        color: $redColor;

        a {
            color: $royalBlueColor;
            text-decoration: none;
            &:hover {
                color: $blueColor;
                font-size: $fontSmall;
            }
        }
    }
}

.banner h1 {
    @include headerStyle();
}

.footer h3 {
    @include headerStyle($fontSmall);
    color: $blueColor;

    &:hover {
        color: $orangeColor;
        background-color: $royalBlueColor;
        @include transition(color 2s, background-color 3s);
    }
}