$redColor : red;
$blueColor: blue;
$whiteColor: white;
$blackColor: black;
$royalBlueColor: royalBlue;

body {
    background-color: $whiteColor;
}

a {
    color: $royalBlueColor;
}

h1,
h3 {
    color: $redColor;
}

p {
    color: $blackColor;
    font-size: larger;
}