body {
  background-color: white;
}

p {
  color: black;
  font-size: 1rem;
}

.nav {
  background-color: orange;
  padding: 5px 10px;
}

.nav ul li {
  color: red;
}

.nav ul li a {
  color: royalBlue;
  text-decoration: none;
}

.banner h1 {
  color: red;
  font-size: 2rem;
  text-align: center;
}

.footer h3 {
  color: blue;
  font-size: 1rem;
  text-align: start;
}